$color-red: #f3001e;
$color-ice: rgba(216, 235, 239, 0.8);
$color-ice_HEX: #d8ebefcc;
$color-blu: #0000fe;
$color-acqua: #93edc7;
$color-torquise: #1cd8d2;
$color-cocco: #eaf0f7;
$color-orange: #e76505;
