.header {

   .container {
      position: relative;
   }
   background-color: $color-cocco;
   &__wrapper {
      height: 10vh;
      display: flex;
      padding: 15px 0;
      justify-content: space-between;
   }
   &__logo {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
         font-family: "Island-Moments";
         color: black;
         font-size: 62px;
      }
   }
}
