.menu {
   &__wrapper {
      display: flex;
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #000080;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
         color: #fff;
         font-size: 96px;
      }
   }

   &__links {
   }

   &__links-row {
      display: flex;
   }

   &__links-link {
      color: #fff;
      margin-right: 35px;
      font-size: 14px;
      font-weight: 700;
      transition-duration: 100ms;
      &:hover {
         text-decoration: underline;
         font-size: 17px;
      }
   }

   &__links-link-last {
      margin-right: 0;
   }

   &__social {
   }

   &__social-row {
      display: flex;
   }

   &__social-icon {
      margin-right: 15px;
      svg:hover {
         fill: red;
      }
      // svg{
      //    fill: red;
      // }

      &:last-child {
         margin-right: 0;
      }
      img {
         width: 30px;
         height: 30px;
      }
   }
}
